<div class="row flex-nowrap">
  <%= render 'layouts/client_sidebar', client: @client unless browser.mobile? %>

  <div class="col py-3">
    <%= breadcrumbs %>

    <div class="row mt-md-5 mt-1">
      <div class="col col-md-10 offset-md-1">
        <div class="row">
          <h3><%= @workout_week.name %></h3>
        </div>
        <div class="row gy-2 gy-md-4">
          <% @workout_week.workout_days.each_with_index do |day, i| %>
            <div class="col col-md-4 col-6">
              <div class="shadow card p2">
                <div class="card-body text-center">
                  <h5 class="card-title">Day <%= i + 1 %></h5>
                </div>

                <div class="accordion" id="day-<%= i %>">
                  <% day.exercises.each_with_index do |exercise, ei| %>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="<%= "#{exercise.name.parameterize}-#{ei}" %>">
                        <%= button_tag exercise.name,
                                    class: "accordion-button collapsed",
                                    data: {
                                      bs_toggle: 'collapse',
                                      bs_target: "#x#{exercise.name.parameterize}-#{ei}-collapse"
                                    }
                        %>
                      </h2>
                      <div
                        id="<%= "x#{exercise.name.parameterize}-#{ei}-collapse" %>"
                        class="accordion-collapse collapse"
                        data-bs-parent="#day-<%= i %>"
                      >
                        <div class="accordion-body text-center p-0">
                          <% if exercise.workout_sets.blank? %>
                            <div class="py-2">No Sets Logged</div>
                          <% else %>
                            <ul class="list-group list-group-flush">
                              <% exercise.workout_sets.each do |set| %>
                                <li class="list-group-item <%= 'text-bg-warning' if set.warmup %>">
                                  <%= "#{set.weight} x #{set.reps}" %>
                                </li>
                              <% end %>
                            </ul>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
