<%= turbo_frame_tag 'modal' do %>
  <div class="modal fade" id="exercise-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h6 class="modal-title text-center">
            <%= @exercise.muscle_group.name %> of choice
          </h6>
        </div>
        <%= form_for [:clients, @exercise], html: { class: 'exercise-form'} do |f| %>
          <%= f.hidden_field :workout_id, class: 'workout_id' %>
          <div class="modal-body">
            <div class="mb-3">
              <div class="form-floating">
                <%= f.text_field :name,
                                  class: 'form-control autocomplete',
                                  placeholder: 'Name',
                                  data: {
                                    muscle_group_id: f.object.muscle_group_id
                                  }
                %>
                <%= f.label :name %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group w-100">
              <%= button_tag 'Cancel',
                              type: :button,
                              class: 'btn btn-outline-secondary',
                              data: {
                                bs_dismiss: 'modal'
                              }
              %>
              <%= f.submit 'Save', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
