<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: @workout_days, attribute: :completed_at) do |date, workout_day| %>
    <% if workout_day.any? %>
      <%= link_to clients_workout_day_path(workout_day.first.id),
                  class: 'text-body text-decoration-none',
                  data: {
                    turbo_frame: 'workout_preview'
                  } do
      %>
        <%= date.day %>

        <% workout_day.each do |day| %>
          <div class="day-logged bg-primary mx-auto"></div>
        <% end %>
      <% end %>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag 'workout_preview' %>
