<div class="modal fade" id="set-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h6 class="modal-title text-center"><%= exercise.name %></h6>
      </div>
      <%= form_for url_obj, html: {class: 'workout_set_form'} do |f| %>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="form-floating">
              <%= f.number_field :weight, class: 'form-control', placeholder: 'weight' %>
              <%= f.label :weight %>
            </div>
            <div class="form-floating">
              <%= f.number_field :reps, class: 'form-control', placeholder: 'reps' %>
              <%= f.label :reps %>
            </div>
          </div>
          <div class="form-check">
            <%= f.check_box :warmup, class: 'form-check-input' %>
            <%= f.label :warmup, 'Mark as warmup', class: 'form-check-label' %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group w-100">
            <%= button_tag 'Cancel',
                          type: :button,
                          class: 'btn btn-outline-secondary',
                          data: {
                            bs_dismiss: 'modal'
                          }
          %>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
