<nav
  class="navbar navbar-dark navbar-expand-md bg-dark"
  <%# binding.pry %>
  style=<%= config_helper(:nav_color) %>
>
<!-- background-color: <%= "#{settings.nav_color} !important" %>; color: <%= "#{settings.nav_text_color} !important" %> -->
  <div class="container-fluid">
    <%= link_to app_name,
                trainers_dashboard_path,
                class: 'navbar-brand',
                style: config_helper(:nav_text_color)
    %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Dashboard',
                      trainers_dashboard_path,
                      class: "nav-link #{active_nav_item('dashboard')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'Clients',
                      trainers_clients_path,
                      class: "nav-link #{active_nav_item('clients')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Profile',
                      trainers_profile_path,
                      class: "nav-link #{active_nav_item('profile')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'Switch Accounts',
                      accounts_path,
                      class: 'nav-link',
                      style: config_helper(:nav_text_color)
          %>
        </li>
        <li class="nav-item">
          <%= button_to 'Logout',
                        destroy_user_session_path,
                        method: :delete,
                        class: 'nav-link btn btn-link',
                        style: config_helper(:nav_text_color)
          %>
        </li>
      </ul>
    </div>
  </div>
</nav>
