<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="<%= current_account&.class %>">
    <% if user_signed_in? && current_account %>
      <% if current_account.trainer? %>
        <%= render 'layouts/trainer_navbar' %>
      <% else %>
        <%= render 'layouts/client_navbar' %>
      <% end %>
    <% end %>
    <div id="notice" class="toast-container top-0 end-0 p-3">
      <%= render 'layouts/notice' if notice %>
    </div>

    <div id="<%= current_account&.type&.downcase %>" class="container-fluid" style="margin-bottom: 60px">
      <%= yield %>
    </div>

    <% if user_signed_in? && current_account&.client? %>
      <%= render 'layouts/client_footer' %>
    <% end %>
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
