<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user&.trainer? %>
        <%= render 'layouts/trainer_navbar' %>
      <% else %>
        <%= render 'layouts/client_navbar' %>
      <% end %>
    <% end %>
    <div class="toast-container top-0 end-0 p-3">
      <%= render 'layouts/notice' if notice %>
    </div>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div id="<%= current_user&.type&.downcase %>" class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
